#Data Science
pandas>=2.3.3
numpy>=2.3.3
scipy>=1.16.2

#Machne Learning
scikit-learn>=1.7.2
xgboost>=3.0.5

#Data I/O
pyarrow>=21.0.0
openpyxl>=3.1.5

#C0nfiguration
pyyaml>=6.0.3

#Visualization
matplotlib>=3.10.7
seaborn>=0.13.2
