#Data Science
pandas==2.2.0
numpy==1.26.3
scipy==1.11.4

#Machne Learning
scikit-learn==1.4.0
xgboost==2.0.3

#Data I/O
pyarrw==15.0.0
openpyxl==3.1.2

#C0nfiguration
pyyaml==6.0.1

#Visualization
matplotlib==3.8.2
seaborn==0.13.1
